{% extends 'main/base.html'%}

{% block title %}
semuna stores-itemspage   
{% endblock  %}

{% block content%}
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {%for item in items%}
        {% include 'main/includes/madels.html' %}
          <tr>
              <th scope="row">{{ item.pk }}</th>
              <td>{{item.name}}</td>
              <td>
                <img alt= "image"style="width:64px"  src ="{{item.image_url}}">
              </td>
              <td>{{item.price}}UGX</td>
              <td>
              
                  <button type="button" class="btn btn-outline-primary" 
                          data-toggle="modal" data-target="#Modal-MoreInfo">
                        More Info
                  </button>
                  <button type="button" class="btn btn-outline-success"
                          data-toggle="modal" data-target="#Modal-PurchaseConfirm">
                        Purchase this Item
                  </button>
              
              </td>
              
          </tr>
        {%endfor %}
        
    </tbody>
  </table>
{% endblock %}
     
        
 